<!DOCTYPE html>
<html  lang="ro">
    <head>
        <title>Home</title>
    </head>
    <body>
        <main>
            <a href = "http://10.81.135.28:8080/bro"> 
                <p> Lista </p> 
            </a>                
        </main>
    </body>
</html>