<!DOCTYPE html>
<html  lang="ro">
    <head>
        <title>Titlu server</title>
    </head>
    <body>
        <main>
            <p>Continut server</p>
            <a href = "http://10.81.135.28:8081/bro"> 
                <button type="button" onclick="sampleFunction()" id="lst" >  Listare fisere/foldere </button> 
            </a>
            <p> <%- locals.data %> </p>
            <p> Esti in server. </p>
            <a href = "http://10.81.135.28:8080/bro"> 
                <p> Lista </p> 
            </a>                
        </main>
    </body>
</html>