<html>
    <head>
        <title> File Manager</title>
    </head>

    <body>
        
        <a href = "<%- locals.ip%>bro"> 
            <button type="button" onclick="sampleFunction()" id="lst" >  Listare fisere/foldere </button> 
        </a>
        <p> <%- locals.data %> </p>
        <p> Esti in server. </p>
    </body>
</html>